body {
  padding: 1rem;
}

table {
  border-collapse: collapse;
}
table tbody tr {
  border-bottom: 1px solid black;
}
table tbody th,
td {
  text-align: left;
  vertical-align: top;
  padding: 5px;
}

table tbody td:nth-child(2) {
  white-space: nowrap;
}

.App {
  text-align: center;
}
